{% extends 'works/base_two.html' %}
{% block content %}
<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>

                <form class="form" method="POST">
                    {% csrf_token %}
                    <p>Вы точно хотите удалить сбросить работу?</p>
                  <br>
                    <a class="btn btn--sub btn--lg  my-md" href="{% url 'home-page' %}">&#x2190 Вернуться</a>
                    <input class="button" type="submit" value="Удалить" />
                </form>
            </div>
        </div>
    </main>
{% endblock %}